.mechanics {
    margin: 0;
    padding: 0;

    columns: 30rem auto;


    list-style: none;
}

.mechanic {
    /* width: 40vw; */
    /* min-width: 30rem; */
    /* width: min-content; */
    /* flex: 1; */
    break-inside: avoid;
}

.mechanic .image {
    margin-right: 1rem;
    float: left;
}
