/* Colors
    Purple ish: #2B1428
    Green ish: #0C1F30
    Blue ish: #061531
*/

@font-face {
    font-family: "renogare";
    src: url("./renogare.otf")
}

body {
    margin: 0;

    background: url("./background.svg");
    backdrop-filter: blur(32px);

    background-repeat: repeat;
    animation: gradient 50s linear infinite;

    font-family: "renogare";
    color: white;
}

@keyframes gradient {
    from {
        background-position: 0% 0%
    }

    to {
        background-position: 300% 200%
    }
}

.header-image {
    margin: 2rem auto;
    width: min(100vw, 100vh);

    display: block;
}

.page-header {
    position: sticky;
    top: 0;

    backdrop-filter: blur(4px);
    background-color: #0000007F;
}

.page-header .pages {
    margin: 0 auto;
    padding: 0;

    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 2px;

    list-style: none;
}

.page-header .page {
    position: relative;
    padding: 1rem 1rem;

    font-size: larger;
}

.page-header .page:hover {
    background-color: #FFFFFF3F;
}

.page-header a {
    text-decoration: none;
    color: white
}

.page-header .sections {
    position: absolute;
    margin: 0;
    padding: 0;

    left: 0;
    right: 0;
    top: 100%;

    display: none;

    list-style: none;

    backdrop-filter: blur(4px);
    background-color: #0000007F;
}

.page-header .page:hover .sections {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.page-header .section {
    padding: 1rem 1rem;
}

.page-header .section:hover {
    background-color: #FFFFFF3F;
}
