/* Colors
    Purple ish: #2B1428
    Green ish: #0C1F30
    Blue ish: #061531
*/

@font-face {
    font-family: "renogare";
    src: url("./renogare.otf")
}

body {
    margin: 0;

    background: url("./background.svg");
    backdrop-filter: blur(32px);

    background-repeat: repeat;
    animation: gradient 50s linear infinite;

    font-family: "renogare";
    color: white;
}

@keyframes gradient {
    from {
        background-position: 0% 0%
    }

    to {
        background-position: 300% 200%
    }
}
