@supports (grid-template-rows: masonry) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: masonry;
        grid-auto-flow: dense;
    }
}

.gallery {
    --gap: 1rem;
    --columns: 4;
    margin: 1rem;
    columns: var(--columns);
    column-gap: var(--gap);
    font-size: 0;
}

.gallery>* {
    break-inside: avoid;
    margin-bottom: var(--gap);
}

.gallery-image {
    width: 100%;
}